   <div class="mastfoot">
            <div class="inner">
              <p class="text-center footer-text">Made with <span class="glyphicon glyphicon-heart"></span> by  <a href="https://github.com/iposton">Ian Poston </a>, in <a href="http://en.wikipedia.org/wiki/Los_Angeles,_California">Los Angeles, CA</a></p>
            </div>
   </div>