
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" id="bib">BiB</h3>
              <nav ng-class="{true: 'body-pushed'}[main.pushmenu]">
                <ul class="nav masthead-nav">
                  
                  <li><a href="#">Sign Up!</a></li>
                    <li></li>
                  
                </ul>
              
              </nav>
             
              
            </div>
              
        </div>
         <a class="glyphicon glyphicon-menu-hamburger" ng-click="main.pushmenu = !main.pushmenu"></a>
   