 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">BiB</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Movies</a></li>
                  <li><a href="#">Sign Up!</a></li>
                  
                </ul>
              </nav>
            </div>
          </div>