<nav class="push-menu" ng-class="{true: 'pushed-menu'}[main.pushmenu]">
	
	
	<div class="col-xs-12">
	
			<a href="/home/#/"><button>Home</button></a>	

			<button><a href="/home/#/about/">About Page</a></button>
			<button><a href="/home/#/help/">Help Page</a></button>
			
    
		
		
	</div>
	
</nav>