    <div class="inner cover">
            <span class="glyphicon glyphicon-film"></span>
          
            <h1 class="cover-heading">Bring it Back</h1>
            <div class="form-signin">
            <div class="input-group form-signin">
             <span class="input-group-addon">Movie</span>
           <input id="movie" type="text" class="form-control" placeholder="Eg. The Theory of Everything..." autofocus>
           </div>
            <p class="lead">
              <a href="https://www.youtube.com/watch?v=Salz7uGp72c" class="btn btn-lg btn-warning">Remind Me To See This Movie!</a>
            </p>

          </div>
    </div>