<h2>This is a list of New Movies!</h2>
<hr>
  <div class="container-fluid">
    <div class='row'>
      <div ng-repeat="movie in main.Movie.movies">
        <div id="posts-box" class="sidebar-module col-sm-3">
          <h4>{{movie.release_date}}</h4>
            <ol>
          		<li><!-- <div class="remove" ng-click="main.Movie.destroy(movie.id, $index)">
                <span class="glyphicon glyphicon-remove"></span></div> -->
                <p><a href="{{movie.link}}"><div id="movie-bubble" type="text" class="" data-container="body" data-toggle="popover" data-placement="left" data-content="{{movie.description}}">{{movie.title}}</div></a></p><div><input type="button" class="btn btn-default btn-small" value="Movie Details" data-toggle="modal" data-target="#myModal" data-title="{{movie.title}}" data-description="{{movie.description}}" data-actor="{{movie.actor1}}" data-two="{{movie.actor2}}" data-three="{{movie.actor3}}" data-released="{{movie.release_date}}" data-link="{{movie.link}}"></div>
                 </li>
                </ol>
                    <div class="dropdown">
                      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-  expanded="false" class="btn btn-small btn-danger" value="Remind Me In...">
                        Remind Me...<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>{{movie.reminders}}</option>
                        <li>in 1month</li>
                        <li>in 3months</li>
                      </ul>
                    </div>
            </div> 
        </div><!-- ng repeat end -->
         
         <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
                  <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
          <div class="modal-body-starring" >
             
          </div>

          <div class="modal-body" id="movie-modal" >
             
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info">Add To My Reminder List</button>
          </div>
              </div>
          </div>
        </div> <!-- modal end -->

   
    </div>
  </div>
 


<script>
  
    $(function () { $("[data-toggle='tooltip']").tooltip(); }); // enable bootstrap 3 tooltips
   $('body').popover({ 
    selector: '[data-toggle="popover"]', 
    trigger: 'hover',
    placement: 'right'


    
});

$('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var title = button.data('title') 
  var description = button.data('description')
  var starringOne = button.data('actor')
  var starringTwo = button.data('two')
  var starringThree = button.data('three')
  var released = button.data('released')
  var link = button.data('link')
  // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text(title)
  modal.find('.modal-body-starring').text(title + ' was released in ' + released + ' starring ' + starringOne + ', ' + starringTwo + ' and ' + starringThree + '.' )
  modal.find('.modal-body').text(description)
})

$('.dropdown-toggle').dropdown()
   

</script>


	


