<div class="container-fluid">
  <div class="row">
    <div class="border">
	    <h1 class="centered">My Profile</h1>
	   <div class="centered"><h1 class="glyphicon glyphicon-user glyph"></h1></div>
	   <hr>
	     
	     	<h4>You're set to be reminded to see NIGHTCRAWLER IN 2Weeks.</h4> <img ng-src="https://content7.flixster.com/movie/11/18/94/11189473_det.jpg"/>
    </div>





